<!DOCTYPE html>
<html>
	<head>
	<link href="/static/main.css" rel="stylesheet" type="text/css"   />

		<title>a blog</title>
	</head>


	<body>
		<a class="main-title" href="/">a blog</a>
		
		<div class="login-area">
			<a class="login-link" href="/newpost">new post</a>
			|
			<a class="login-link" href="/login">login</a>
			|
			<a class="login-link" href="/signup">signup</a>
			|
			<a class="login-link" href="/logout">logout</a>
		</div>

		{% for entry in entries %}
			<div class="post">
				<div class="post-heading">
					<a class="post-title" href="/{{entry.key().id()}}">{{entry.title}}</a>

					<div class="post-date">{{entry.created.strftime('%B %d, %Y')}}</div>
				</div>
				<pre class="post-content">{{entry.entry}}</pre>
			</div>
		{% endfor %}


	</body>
</html>