<!DOCTYPE html>
<html>
	<head>
	<link href="/static/main.css" rel="stylesheet" type="text/css"   />

		<title>A Blog</title>
	</head>


	<body>
		<a class="main-title" href="/">A Blog</a>
		<a class="login-link" href="/newpost">New post</a>
		<br>
		<a class="login-link" href="/signup">Sign up</a>
		<br>
		<a class="login-link" href="/login">Login</a>
		<hr>

		{% for entry in entries %}
			<div class="post">
				<a class="post-title" href="/{{entry.key().id()}}">{{entry.title}}</a>
				<div class="post-content">{{entry.entry}}</div>
				<div class="post-date">created {{entry.created}}</div>
			</div>
		{% endfor %}


	</body>
</html>