<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href="../static/main.css" />

		<title>a blog</title>
	</head>

	<body>
		<a class="main-title" href="/">a blog</a>
		<div class="login-area">
			<a class="login-link" href="/newpost">new post</a>
			|
			<a class="login-link" href="/login">login</a>
			|
			<a class="login-link" href="/signup">signup</a>
			|
			<a class="login-link" href="/logout">logout</a>
		</div>
		<hr>

		<div class="entry">
			<a class="post-title" href="/{{entry.key().id()}}">{{entry.title}}</a>
			<pre class="post-content">{{entry.entry}}</pre>
			<div class="post-date">created {{entry.created}}</div>
		</div>

	</body>
</html>